APP_ENV=production
DATABASE_URL=mysql://USER:PASSWORD@HOST:3306/pashuraksha
SECRET_KEY=replace-this
BHARAT_PASHUDHAN_URL=
BHARAT_PASHUDHAN_TOKEN=
NADRES_URL=
NADRES_TOKEN=
WEATHER_URL=
WEATHER_TOKEN=
LAB_URL=
LAB_TOKEN=
SMS_PROVIDER_URL=
IVR_PROVIDER_URL=
PUSH_PROVIDER_URL=
